<div class="lsstories">
    <div class="story">
        <div class="storyimg">
            <img src="assets/images/img1.jpg" alt="">
        </div>
        <div class="storycontent">
            <h5>US Colleges Face Opposition to Vaccination Requirements</h5>
        </div>
    </div>

    <div class="story">
        <div class="storyimg">
            <img src="assets/images/img1.jpg" alt="">
        </div>
        <div class="storycontent">
            <h5>US Colleges Face Opposition to Vaccination Requirements</h5>
        </div>
    </div>
    <div class="story">
        <div class="storyimg">
            <img src="assets/images/img1.jpg" alt="">
        </div>
        <div class="storycontent">
            <h5>US Colleges Face Opposition to Vaccination Requirements</h5>
        </div>
    </div>
</div>