<form novalidate #form="ngForm" (submit)="onSubmit(form)" style="margin: 30px 30px 30px 30px;">
    <div class="form-outline mb-6">
        <label class="form-label" for="name">Name</label>
        <input type="text" class="form-control" placeholder="Name" id="name" name="name" #name="ngModel" [(ngModel)]="service.formData.Name">
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" id="password" name="password" #Password="ngModel" [(ngModel)]="service.formData.Password">
    </div>

    <div class="row mb-4 text-center justify-content-center">
        <button type="submit" class="btn btn-dark btn-md btn-block text-center btsignup"> Sign in</button>
        <p class="or">Or</p>
        <a href="/signup"> Sign up</a>
    </div>
</form>